header {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 8px;
  box-shadow: 0px 0px 12px 0px #2b5540;
  a {
    display: inline-block;
    margin: 8px;
    font-size: 24px;
    border-bottom: solid 1px #191970;
    text-decoration: none;
    color: #005500;
  }
  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 16px;
    border: 0px;
  }
}

p {
  letter-spacing: 0.8px;
}

.tytle_two {
  font-size: 20px;
  font-weight: 1000;
}
.tytle_three {
  font-size: 48px;
  font-weight: 1000;
  color: #2b470e;
}
.button_area {
  text-align: center;
  .button_1 {
    display: block;
    margin: 20px auto;
    width: 320px;
    padding: 16px;
    background-color: #0078ba;
    color: #fff;
    border-radius: 5px;
  }
}

.button_1:hover {
  cursor: pointer;
  opacity: 0.7;
}

.content:nth-child(2n) {
  background-color: #f5f5f5;
}


.content-inner {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
  h2 {
    font-size: calc(2.571em + 26 * (100vw - 375px) / 1305);
    letter-spacing: 0.06em;
    line-height: 2.09;
    text-align: center;
    color: #191970;
    font-weight: 900;
  }
  >p {
    text-align: center;
    letter-spacing: 1.6px;
    font-size: calc(.071em + 26 * (100vw - 375px) / 1305);
  }
  ol {
    padding: 0 0 8px 32px;
    font-size: 16px;
    font-weight: 900;
  }
  ul.cp_list {
    padding: 0.5em;
    list-style-type: none;
  }
  ul.cp_list li {
    position: relative;
    padding: 0em 0.3em 0.3em 1.3em;
  }
  ul.cp_list li:after,
  ul.cp_list li:before {
    position: absolute;
    content: "";
    display: block;
    background: #ffc107;
    top: 0.43em;
    left: 0.5em;
    height: 11px;
    width: 4px;
    border-radius: 10px;
    transform: rotate(45deg);
  }
  ul.cp_list li:before {
    top: 0.6em;
    left: 0.2em;
    height: 8px;
    transform: rotate(-45deg);
  }
  .sub_list {
    padding: 0;
    position: relative;
  }

  .sub_list li {
    color: #90bfe7;
    margin-left: 32px;
    margin-bottom: 5px; /*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none !important;
  }
}

.content.first {
  color: #fff;
  width: 100%;
  background: #ddd url(../assets/img/kkk.jpg) no-repeat center center;
  background-size: cover;
  .content-inner {
    max-width: 1200px;
    p {
      margin: 0;
      padding: 100px 16px;
      font-size: 6vmin;
      font-weight: bold;
      color: #fff;
      line-height: 8vmin;
    }
  }
}

@media screen and (max-width: 768px) {
  .headerImg {
    display: none;
  }
}

.first_face {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  border: 2px solid #005500;
  background: #fff;
  margin: 40px 2px;
  border-width: 3px;
}

.first_face:before,
.first_face:after {
  position: absolute;
  content: "";
}

.first_face:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 3px solid #005500;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}

.first_face:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.first_face i {
  font-size: 30px;
  font-size: 2.5rem;
  line-height: 80px;
  position: absolute;
  padding-left: 3px;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.first_face span {
  position: relative;
  z-index: 1;
}
.greeting {
  color: #00d500;

  animation: fluffy1 3s ease infinite;
}
@keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.text_face {
  max-width: 1200px;
  padding: 16px 0px 0px 8px;
  margin: 0 auto;
}
.second_face {
  position: relative;
  padding: 15px 15px　15px 7px;
  font-size: large;
  font-weight: 700;
  font-family: ‘Yu Gothic‘;
  color: #006600;
  padding-left: 10px;
  padding-bottom: -8px;
}

.second_face:after {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 6px;
  content: "";
  background-image: -webkit-gradient(linear, right top, left top, from(#ccff99), to(#006600));
  background-image: -webkit-linear-gradient(right, #ccff99 0%, #006600 100%);
  background-image: linear-gradient(to left, #ccff99 0%, #006600 100%);
}

.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.slider__content {
  padding: 8px;
  min-width: 100%;
  animation: sliderAnime 10s ease-in-out infinite;
}

@keyframes sliderAnime {
  0% {
  }
  16.6% {
    transform: translateX(0);
  }
  33.3% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  66.6% {
    transform: translateX(-200%);
  }
  83.2% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.working__img {
  max-width: 100%;
  min-width: 100%;
}

.content_topic {
  padding: 0 2px;
}

.text_content {
  padding: 16px 32px;
  margin-bottom: 16px;
  font-stretch: semi-expanded;
  letter-spacing: 4px;
  line-height: 32px;
  background-color: #f0ffff;
  .content_direction {
    letter-spacing: 1.6px;
    font-size: 18px;
  }
  .emphasis {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }
  .list {
    margin: 8px -8px;
    padding: 0 8px;
    font-weight: 800;
    font-size: 20px;
    background-color: #ffffff;
  }
  p {
    line-height: 32px;
  }
}

blockquote.quote-orange {
  border-color: #191970;
  .mt-0 {
    margin-top: 0 !important;
  }
}

blockquote.quote-blue {
  border-color: #191970;
  .mt-0 {
    margin-top: 0 !important;
  }
}
blockquote.quote-topic {
  border-color: #191970;
  .mt-0 {
    margin-top: 0 !important;
  }
}

blockquote {
  background: #fff;
  border-left: 0.7rem solid #007bff;
  padding: 16px;
  display: block;
  .tytle_two {
    text-align: left;
    padding-left: 8px;
  }
}
.tytle_four {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  padding-left: 8px;
  margin: 24px 56px 12px;
  font-size: 20px;
  font-weight: 500;
}

.news {
  background-color: azure;
  margin-bottom: 20px;
  .news_info {
    padding: 16px 0px;
    font-size: 2px;
    li {
      display: inline-block;
      border: 1px solid #d35400;
      padding: 10px;
      background: #191970;
      text-align: center;
      .news_where {
        color: gray;
        text-decoration: none;
      }
      .news_date {
        color: gray;
        text-decoration: none;
      }
      .news_tytle {
        display: block;
        color: gray;
        text-decoration: none;
      }
    }
  }
}

.content.appintro::after {
  content: "";
  clear: both;
  display: block;
}

.slip_img {
  display: block;
  width: 100%;
  padding-right: 8px;
}
.slip_article_text {
  display: block;
}
.article_slip {
  padding: 0;
  .slip_article_text {
    font-size: 18px;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px 20px;
  margin: 32px 0;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  .image-area {
    img {
      width: 240px;
    }
  }
}

.card_head {
  margin: 10px 20px 0 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #707070;
  line-height: 180%;

  .card_head_title {
    font-size: 21px;
    font-weight: bold;
    display: block;
    margin-top: 6px;

    .titleNumber {
      font-size: 60px;
      font-weight: bolder;
      width: 50%;
      padding-right: 16px;
      letter-spacing: -4px;
    }
  }
}

.card.left {
  width: 90%;
  float: left;
  padding: 20px 20px 10px;
}

.card.right {
  width: 90%;
  float: right;
  padding: 20px 20px 10px;
}

.card_body {
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 24px;
}

.twitter {
  color: #0080ff;
}

footer {
  padding: 16px;
  width: 100%;
  background-color: #191970;
  text-align: center;
  color: #ffffff;
}

// slider
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  margin: 0;
}
div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 5s slidy infinite;
}

@media screen and (max-width: 768px) {
  .button_area {
    text-align: center;
    .button_1 {
      width: 80%
    }
  }
  .card {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 32px 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    .image-area {
      margin-bottom: 30px;
      text-align: center;
      img {
        border-radius: 50%;
      }
    }
    &.pj {
      .image-area {
        text-align: center;
        img {
          width: 100%;
          border-radius: 0;
        }
      }
    }
  }

  .card_head {
    margin: 10px 20px 0 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    line-height: 180%;

    .card_head_title {
      font-size: 21px;
      font-weight: bold;
      display: block;
      margin-top: 6px;

      .titleNumber {
        font-size: 60px;
        font-weight: bolder;
        width: 50%;
        padding-right: 16px;
        letter-spacing: -8px;
      }
      .pj-name {
        display: inline-block;
        margin-top: 4px;
      }
    }
  }

  .card.left {
    width: 100%;
    float: none;
    padding: 20px 20px;
  }

  .card.right {
    width: 100%;
    float: none;
    padding: 20px 20px;
  }

  .card_body {
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}






.swiper-container {
  height: 390px;
}

  .swiper-container .swiper-wrapper .swiper-slide img{
      height: auto;
  }

.thumbnail_slider {
height: 35px;
width: 300px;
}

.thumbnail_slider .swiper-wrapper .swiper-slide {
  height: 35px;
  background-color: lightgrey;
  vertical-align: middle;
  position: relative;
}

.thumbnail_slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.swiper-slide-thumb-active {
  border: solid 3px red;
}


//valeur
html {
  width: 100%;
}

body{
/* 基本のサイズを10pxに設定 */
font-size: 20px;
font-family:  "Noto sans JP";
}

.module_spacer__medium {
  height: 50px;
  width: 80%;
}

.module_spacer__small {
  height: 35px;
}

.header_nav{
background-color: #E60012;
height: 50px;
font-size: 16px;
display: flex;
align-items: center;
}

.header_logo{
line-height: 16px;
font-size: 13px;
font-weight: 700;
color: white;
margin-left: 20px;
}

.icon_container{
margin: 0 0 0 auto;
}

.humberger_tab, 
.search_icon, 
.favorite_icon,
.shopping_cart_icon
{
color: white;
}

.humberger_tab {
font-size: 20px;
margin-left: 15px;
}

.search_icon,
.favorite_icon,
.shopping_cart_icon{
  margin-right: 12px;
  font-size: 20px;
}

ul.category_list{
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  align-items: center;
}

  ul.category_list li{
      display: inline-block;
      margin-right: 60px;
      font-weight: 700;
  }

.swiper-container {
  height: 390px;
}

  .swiper-container .swiper-wrapper .swiper-slide img{
      height: auto;
  }

.thumbnail_slider {
height: 35px;
width: 300px;
}

.thumbnail_slider .swiper-wrapper .swiper-slide {
  height: 35px;
  background-color: lightgrey;
  vertical-align: middle;
  position: relative;
}

.thumbnail_slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.swiper-slide-thumb-active {
  border: solid 3px red;
}

.product_introduction {
  padding: 0px 200px 0px 200px;
}

.product_description{
  width: 70%;
}

  .product_description h1, h3{
      font-weight: bold;
      line-height: 40px;
  }

  .product_description p {
      font-weight: bold;
      font-size: 12px;
      line-height: 21px;
      color: #a09696;
  }

  .product_description p {
      margin-top: 20px;
      width: 800px;
  }

.product_info{
  display: flex;
  justify-content: space-between;
}

.p_small{
font-size: 13px;
}

.product_description p {
font-family: YakuHanJP, Roboto, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto sans JP", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #a09696;
margin-top: 25px;
}

.purchase_info{
width: 280px;
line-height: 20px;
}

.purchase_info h3{
font-size: 21px;
font-weight: 700;
margin: 0px;
}

.purchase_info p{
font-size: 12px;
}

.purchase_info span{
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

.purchase_info img{
margin-right: 5px;
}

.p_gray{
color: #a09696
}

.p_black{
color: black;
}

.purchase_button{
  border: none;
  background-color: red;
  border-radius: 10px;
  color: white;
  width: 80%;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  padding: 3px;
}

.favorite_button{
  border: none;
  border-radius: 10px;
  width: 15%;
  height: 42px;
  font-size: 18px;
  font-weight: 900;
  color: #9F9596
}

.product_categories{
  color: #231e1e;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  height: 50px;
  margin-top: 40px;
}

.category{
padding: 10px;
float: left;
margin-right: 10px;
background-color: #F0F0F0;
border-radius: 10px;
}

.product_data{
margin-top: 40px;
}

  .product_data .product_data_content {
      color: black;
      font-weight: 400;
  }

.product_caption{
  margin-top: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #a09696;
}

  .product_caption p{
      margin-top: 10px;
  }

.with_border {
  border-bottom: 1px;
  border-style: solid;
  color: #F0F0F0;
}

table{
border-collapse: collapse;
border-spacing: 0;
/* width: 65%; */
border-top: solid 1.5px #eee;
table-layout: fixed;
}

  table tr{
      border-bottom: solid 1.5px #eee;
      width: 10px;
  }

table td{
  padding: 14px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #a09696;
  text-align: left;
}

.related_product{
  margin-top: 20px;
  width: 80%;
}

.related_products_gallary .swiper-slide_related_product  {
  text-align: left;
}

.swiper-slide img{
  justify-content: center;
  height: 200px;
}

.slider2 {
  width: 100%;
  height: 300px;
  vertical-align: center;
  margin-top: 50px;
}


  .slider2 img{
      display: block;
      width: 200px;
  }

  .swiper-slide p{
      font-size: 10px;
      line-height: 18px;
      margin: 0px;
  }

  .swiper-slide span{
      font-weight: 800;
  }

  .related_product_name{
      font-weight: 300;
  }

.image_container{
  background-color: #F0F0F0;
  height: 200px;
  width: 200px;
  vertical-align: middle;
  position: relative
}

  .image_container img {
      position: absolute;
      top: 25%;
  }

.product_caution {
  width: 80%;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #a09696;
}

  .product_caution span {
      text-decoration: underline;
  }

.product_copy_right {
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  color: #a09696;
}

.category_nav {
  font-size: 12px;
  color: #a09696;
  line-height: 40px;
  border-bottom: 1px;
  border-top: 1px;
  border-style: solid;
  border-color: #F0F0F0;
}

.recommend_container {
  display: flex;
}

  .recommend_banner h1 {
      font-size: 20px;
      line-height: 40px;
      font-weight: 900;
  }

.recommend_content {
  margin-right: 20px;
  width: 270px;
}

  .recommend_content img {
      height: 150px;
  }

  .recommend_content p {
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      margin-top: 5px;
  }

.software_category_list {
  overflow: hidden;
  margin: auto;
  align-items: center;
  position: relative;
  border-top: solid 1px #F0F0F0;
  border-bottom: solid 1px #F0F0F0;
}

  .software_category_list ul {
      position: relative;
      left: 25%;
      float: left;
  }

      .software_category_list ul li {
          float: left;
          text-align: center;
          font-size: 12px;
          line-height: 40px;
          margin: 0px 20px 0px 20px;
      }

.classification_list {
  display: flex;
  width: 100%;
}

  .classification_content {
      width: 20%;
  }

  .classification_list p {
      font-size: 10px;
      line-height: 20px;
  }

  .classification_list ul {
      margin-top: 15px;
  }

  .classification_list li {
      color: #a09696;
      font-size: 11px;
      line-height: 20px;
      font-weight: 500;
  }

.inquiry_list {
  margin-top: 40px;
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
  color: #a09696;
}

  .inquiry_list .policy_list {
      font-size: 10px;
      font-weight: lighter;
      line-height: 50px;
  }

.copy_right {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 100;
}