html{
  overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 16px;
  box-shadow: 0px 0px 12px 0px #2b5540;
  a {
    display: inline-block;
    margin: 8px;
    font-size: 24px;
    border-bottom: solid 1px #191970;
    text-decoration: none;
    color: #005500;
  }
  img{
    width: 250px;
  }
  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 16px;
    border: 0px;
  }
}

p {
  font-size: 18px;
  letter-spacing: 0.8px;
  margin-bottom: 4px;
}

.tytle_two {
  font-size: 24px;
  font-weight: 1000;
  line-height: 25px;
  display: block;
  width: 80%;
}
.tytle_three {
  font-size: 48px;
  font-weight: 1000;
  color: #2b470e;
}
.tytle_four {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  padding-left: 8px;
  margin: 24px auto 10px auto;
  font-size: 24px;
  font-weight: 500;
  display: block;

}
.button_area {
  text-align: center;
  .button_1 {
    display: block;
    margin: 20px auto;
    width: 320px;
    padding: 16px;
    background-color: #0078ba;
    color: #fff;
    border-radius: 5px;
  }
}

.button_1:hover {
  cursor: pointer;
  opacity: 0.7;
}

.content:nth-child(2n) {
  background-color: #f5f5f5;
}


.content-inner {
  max-width: 1200px;
  padding: 16px;
  margin: 0 auto;
  h2 {
    font-size: calc(2.571em + 26 * (100vw - 375px) / 1305);
    letter-spacing: 0.06em;
    line-height: 2.09;
    text-align: center;
    color: #191970;
    font-weight: 900;
  }
  >p {
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: 1.6px;
    font-size: calc(.5em + 26 * (100vw - 375px) / 1305);
  }
  ol {
    padding: 0 0 8px 32px;
    font-size: 16px;
    font-weight: 900;
  }
  ul.cp_list {
    padding: 0.5em;
    list-style-type: none;
  }
  ul.cp_list li {
    position: relative;
    padding: 0em 0.3em 0.3em 1.3em;
  }
  ul.cp_list li:after,
  ul.cp_list li:before {
    position: absolute;
    content: "";
    display: block;
    background: #ffb6c1;
    top: 0.43em;
    left: 0.5em;
    height: 11px;
    width: 4px;
    border-radius: 10px;
    transform: rotate(45deg);
  }
  ul.cp_list li:before {
    top: 0.6em;
    left: 0.2em;
    height: 8px;
    transform: rotate(-45deg);
  }
  .sub_list {
    padding: 0;
    position: relative;
  }

  .sub_list li {
    color: #90bfe7;
    margin-left: 32px;
    margin-bottom: 5px; /*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none !important;
  }
  .sub_tytle{
    text-align: center;
    color: #0080ff;
    margin-top: -18px;
    margin-bottom: 16px;
  }
  img.slice_jpg{
    width: auto;
  }
}

.explain img{
  width: 50%;
}

@media screen and (max-width:767px){
.explain img{
  width: 100%;
}
}

.content.menu{
  background-color:#000099;
  .content-inner{
    padding: 8px;
  }
  ul{
    display:flex;
    justify-content: center;
    align-items: center;
    li{
      display: inline-block;
      width: 300px;
      padding:4px;
      border-right:1px solid #fff;
      text-align:center;
      .menuTitle{
        font-size: calc(0.0571em + 26 * (100vw - 375px) / 1305);
        font-weight: 500;
      }
      color:#fff;
      .jaTitle{
        display: block;
        font-size: calc(0.001em + 10 * (100vw - 375px) / 1305);
      }
      i{
        display: block;
      }
      &:last-child{
        border-right:0;
      }
    }
  }
}

@media screen and (max-width:767px){
  .content.menu{
    background-color:#000099;
    .content-inner{
      padding: 8px;
    }
    ul{
      display:flex;
      justify-content: center;
      align-items: center;
      li{
        display: inline-block;
        width: 300px;
        padding: 12px 10px 13px;
        border-right:1px solid #fff;
        text-align:center;
        .menuTitle{
          font-size: calc(0.571em + 26 * (100vw - 375px) / 1305);
          font-weight: 500;
        }
        color:#fff;
        .jaTitle{
          display: none;
        }
        &:last-child{
          border-right:0;
        }
      }
    }
  }
}

.content.first {
  color: #fff;
  width: 100%;
  background: #ddd url(../assets/img/kkk.jpg) no-repeat center center;
  background-size: cover;
  .content-inner {
    max-width: 1200px;
    p {
      margin: 0;
      padding: 100px 16px;
      font-size: 6vmin;
      font-weight: bold;
      color: #fff;
      line-height: 8vmin;
    }
  }
}

@media screen and (max-width: 768px) {
  .headerImg {
    display: none;
  }
}

.first_face {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  border: 2px solid #005500;
  background: #fff;
  margin: 40px 2px;
  border-width: 3px;
}

.first_face:before,
.first_face:after {
  position: absolute;
  content: "";
}

.first_face:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 3px solid #005500;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}

.first_face:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.first_face i {
  font-size: 30px;
  font-size: 2.5rem;
  line-height: 80px;
  position: absolute;
  padding-left: 3px;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.first_face span {
  position: relative;
  z-index: 1;
}
.greeting {
  color: #00d500;

  animation: fluffy1 3s ease infinite;
}
@keyframes fluffy1 {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  25% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.text_face {
  max-width: 1200px;
  padding: 16px 0px 0px 8px;
  margin: 0 auto;
}
.second_face {
  position: relative;
  padding: 15px 15px　15px 7px;
  font-size: large;
  font-weight: 700;
  font-family: ‘Yu Gothic‘;
  color: #006600;
  padding-left: 10px;
  padding-bottom: -8px;
}

.second_face:after {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 6px;
  content: "";
  background-image: -webkit-gradient(linear, right top, left top, from(#ccff99), to(#006600));
  background-image: -webkit-linear-gradient(right, #ccff99 0%, #006600 100%);
  background-image: linear-gradient(to left, #ccff99 0%, #006600 100%);
}

.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.slider__content {
  padding: 8px;
  min-width: 100%;
  animation: sliderAnime 10s ease-in-out infinite;
}

@keyframes sliderAnime {
  0% {
  }
  16.6% {
    transform: translateX(0);
  }
  33.3% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  66.6% {
    transform: translateX(-200%);
  }
  83.2% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.working__img {
  max-width: 100%;
  min-width: 100%;
}

.content_topic {
  padding: 0 2px;
}

.text_content {
  padding: 16px 32px;
  margin:0px 8px 16px;
  font-size: 18px;
  font-stretch: semi-expanded;
  letter-spacing: 4px;
  line-height: 32px;
  background-color: #f0ffff;
  .content_direction {
    letter-spacing: 1.6px;
    font-size: 18px;
  }
  .emphasis {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }
  .list {
    margin: 8px -8px;
    padding: 0 8px;
    font-weight: 800;
    font-size: 20px;
    background-color: #ffffff;
  }
  p {
    line-height: 32px;
    font-size: 18px;
  }
  .image-area{
    text-align: center;
  }
}

blockquote.quote-orange {
  border-color: #191970;
  .mt-0 {
    margin-top: 0 !important;
  }
}

blockquote.quote-blue {
  border-color: #191970;
  .mt-0 {
    margin-top: 0 !important;
  }
}
blockquote.quote-topic {
  border-color: #191970;
  .mt-0 {
    margin-top: 0 !important;
  }
}

blockquote {
  background: #fff;
  border-left: 0.7rem solid #007bff;
  // border-top:3px solid #f5f5f5;
  // border-right:3px solid #f5f5f5;
  // border-bottom:3px solid #f5f5f5;
  padding: 16px;
  display: block;
  .tytle_two {
    text-align: left;
    padding-left: 8px;
  }
}
.tytle_four {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  padding-left: 8px;
  margin: 24px 56px 12px;
  font-size: 20px;
  font-weight: 500;
}

.news {
  background-color: azure;
  margin-bottom: 20px;
  .news_info {
    padding: 16px 0px;
    font-size: 2px;
    li {
      display: inline-block;
      border: 1px solid #d35400;
      padding: 10px;
      background: #191970;
      text-align: center;
      .news_where {
        color: gray;
        text-decoration: none;
      }
      .news_date {
        color: gray;
        text-decoration: none;
      }
      .news_tytle {
        display: block;
        color: gray;
        text-decoration: none;
      }
    }
  }
}

.content.appintro{
  p{
    margin: 0;
  }
}

.content.appintro::after {
  content: "";
  clear: both;
  display: block;
}

.slip_img {
  display: block;
  width: 80%;
  padding-right: 8px;
  margin:4px auto;
}
.slip_article_text {
  display: block;
}
.article_slip {
  padding: 0;
  .slip_article_text {
    font-size: 18px;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px 20px;
  margin: 32px 0;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  .image-area {
    img {
      width: 240px;
      text-align: center;
    }
  }
}

.card_head {
  margin: 10px 20px 0 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #707070;
  line-height: 180%;

  .card_head_title {
    font-size: 21px;
    font-weight: bold;
    display: block;
    margin-top: 6px;

    .titleNumber {
      font-size: 60px;
      font-weight: bolder;
      width: 50%;
      padding-right: 16px;
      letter-spacing: -4px;
    }
  }
}

.card.left {
  width: 90%;
  float: left;
  padding: 20px 20px 10px;
}

.card.right {
  width: 90%;
  float: right;
  padding: 20px 20px 10px;
}

.card_body {
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 24px;
  .twitter{
      display: block;
      margin-top:8px;
      color: #00ccee;
      font-size: 42px;
      &:hover{
        opacity: 0.7;
      }
    }
  }

footer {
  padding: 16px;
  width: 100%;
  background-color: #191970;
  text-align: center;
  color: #ffffff;
}

// slider
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  margin: 0;
}
div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  height: auto;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 5s slidy infinite;
}

@media screen and (max-width: 768px) {
  .button_area {
    text-align: center;
    .button_1 {
      width: 80%
    }
  }
  .card {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 32px 0;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    .image-area {
      margin-bottom: 30px;
      text-align: center;
      img {
        border-radius: 50%;
      }
    }
    &.pj {
      .image-area {
        text-align: center;
        img {
          width: 100%;
          border-radius: 0;
        }
      }
    }
  }

  .card_head {
    margin: 10px 20px 0 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #707070;
    line-height: 180%;

    .card_head_title {
      font-size: 21px;
      font-weight: bold;
      display: block;
      margin-top: 6px;

      .titleNumber {
        font-size: 60px;
        font-weight: bolder;
        width: 50%;
        padding-right: 16px;
        letter-spacing: -8px;
      }
      .pj-name {
        display: inline-block;
        margin-top: 4px;
      }
    }
  }

  .card.left {
    width: 100%;
    float: none;
    padding: 20px 20px;
  }

  .card.right {
    width: 100%;
    float: none;
    padding: 20px 20px;
  }

  .card_body {
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1.6px;
  
  }
}

//カルーセル
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
 
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
 
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
 
body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
}
 
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}
 
*::-webkit-scrollbar {
  width: 0;
}
 
*::-webkit-scrollbar-track {
  background: transparent;
}
 
*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
 
* {
  -ms-overflow-style: none;
}
 
ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}
 
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
 
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 50%;
  background-color: #f99;
  counter-increment: item;
}
 
.carousel__slide:nth-child(even) {
  background-color: #99f;
}
 
.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}
 
.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  scroll-snap-align: center;
}
 
@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
 
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
 
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
 
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}
 
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
 
.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}
 
.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-color: #f5f5f5;
  background-clip: content-box;
  border: 1px solid transparent;
  border-radius: 50%;
  margin:-8px 8px;
  font-size: 0;
  transition: transform 0.1s;
}
 
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 0;
  font-size: 0;
  outline: 0;
}
 
.carousel::before,
.carousel__prev {
  left: 0rem;
}
 
.carousel::after,
.carousel__next {
  right: 0rem;
}
 
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
 
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
 
.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}